# compiled binaries
bin

# direnv
.envrc.local
env.local.bat

# terraform
.terraform
.terraform-version
*.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup

# miscellaneous
.DS_Store
